:root {
    --buttons: blue;
    --text: #ffffff;
    --nav: #bf360c;
}




body {
    background-image: url('/static/img/pexels-pixabay-264636.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
    text-align: center;
    min-height: 100%;
}

h3 {
    text-align: center;
}

#time {
    background-color: var(--nav);
    border-radius: 25px;
    text-align: center;
}


#clock-number-text,
#clock-number {
    background-color: var(--nav);
    border-radius: 25px; 
    border-bottom: 0px;
}

.number-collon {
    background-color: var(--buttons);
    text-align: center;
    border: 1px yellow solid;
    color: aliceblue;
}

.row .col.s3{

    margin-left: 2vh;
    padding-left: 1vh;
    border-radius: 25px;
}

#clock-number {
    text-align: center;
    color: var(--text);
    font-weight: 400;
    font-size: 2.92rem;
}

.text-shadow {
    border-radius: 25px;
    
}

th,
td {
    border-radius: 25px;
    color: var(--text);
}

tr {
    padding-bottom: 2px;
    padding-right: 2px;
}

.container {
    background-color: var(--nav);
    margin-top: 5px;
}