@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --buttons: #311b92;
    --text: #ffffff;
}

body {
    background-image: url('/static/img/pexels-pixabay-shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text);
    min-height: 100%;
}

h3 {
    text-align: center;
}

#time {
    background-color: var(--buttons);
    border-radius: 25px;
    text-align: center;
}


#clock-number-text,
#clock-number {
    background-color: var(--buttons);
    border-radius: 25px; 
    border-bottom: 0px;
}

.number-collon {
    background-color: var(--buttons);
    text-align: center;
    border: 1px yellow solid;
    color: aliceblue;
}

.row .col.s3{

    margin-left: 2vh;
    padding-left: 1vh;
    border-radius: 25px;
}

#clock-number {
    text-align: center;
    color: var(--text);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

th,
td {
    border-radius: 25px;
    color: var(--text);
}

tr {
    padding-bottom: 2px;
    padding-right: 2px;
}

.container {
    margin-top: 10px;
}

#brand {
    text-align: left;
}

.click-nr,
.submit,
.delete,
#clock-number {
    background-color: var(--buttons);
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

.click-nr:hover,
.submit:hover,
.delete:hover,
#clock-number:hover {
    background-color: var(--buttons);
}

.visuallyhidden {
    visibility: hidden;
}

.index-container {
    background-color: none;
}

.flashes {
border-radius: 25px;
}