<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clock-In Software For Small Company" />
    <meta name="keywords" content="Clock-In, Software, Small Company, Ionut Zapototchi" />
    <meta name="author" content="Ionut Zapototchi" />
    <!--Open Graph Metas-->
    <meta property="og:image" content="#" />
    <meta property="og:title" content="Clock-In Software For Small Company" />
    <meta property="og:description" content="Clock-In Software For Small Company" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#311b92" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Clock In For Small Company</title>
</head>
{%for template in settings%}

<body id="scan">
    <header>
        <!-- top navbar -->
        <nav class="nav-extended text-shadow" style="background-color: {{ template.navbar_color }};">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo">{{template.brand_text.title()}}</a>
                <a href="#" aria-label="Open Menu" data-target="mobile-nav" class="sidenav-trigger right"> <i
                        class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('employess') }}">Employess</a></li>
                    <li><a href="{{ url_for('add_employee') }}">Add Employee</a></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav text-shadow" id="mobile-nav" style="background-color: {{ template.navbar_color }};">
            <li>
                <h4 class="center-align white-text text-darken 4">{{template.brand_text.title()}}</h4>
            </li>
            <li><a class="center-align white-text text-darken 4" href="{{ url_for('employess') }}">Employess</a></li>
            <li><a class="center-align white-text text-darken 4" href="{{ url_for('add_employee') }}">Add Employee</a>
            </li>
            <li><a class="center-align white-text text-darken 4" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="center-align white-text text-darken 4" href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a class="center-align white-text text-darken 4" href="{{ url_for('logout') }}">Log Out</a></li>
        </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row center-align">
            <div class="col s12 m8 offset-m2">
                <h4 class="text-shadow flashes deep-purple darken-4 center-align">{{ message }}</h4>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
{%endfor%}

</html>