{% extends "base.html" %}
{% block content %}

<table class="centered  container">
    <div class="row">
        <form class="col s12 m8 offset-m1" method="POST"
            action="{{ url_for('edit_employee', clock_number= employess.clock_nr) }}">
            <div class="card-panel add-employee">

                <!--First Name-->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="first_name" name="first_name" type="text" minlength="1" maxlength="20"
                            data-length="20" pattern="^[a-zA-Z]{1,20}$" class="validate"
                            value="{{ employess.first_name.capitalize() }}" required>
                        <label for="first_name">First Name*</label>
                        <span class="helper-text" data-error="Please enter your first name" data-success="✔️">Please
                            enter
                            your first name</span>
                    </div>
                    <!-- Last Name -->
                    <div class="input-field col s12 m6">
                        <input id="last_name" name="last_name" type="text" minlength="1" maxlength="20" data-length="20"
                            pattern="^[a-zA-Z]{1,20}$" class="validate" value="{{ employess.last_name.capitalize() }}"
                            required>
                        <label for="last_name">Last Name*</label>
                        <span class="helper-text" data-error="Please enter your last name" data-success="✔️">Please
                            enter
                            your last name</span>
                    </div>
                </div>

                <div class="row">
                    <!-- Email -->
                    <div class="input-field col s12 m6">
                        <input id="email" name="email" type="email" class="validate" value="{{ employess.email }}"
                            required>
                        <label for="email">Email*</label>
                        <span class="helper-text" data-error="Please enter your email address" data-success="✔️">Please
                            enter your email address</span>
                    </div>
                    <!--Phone Number-->
                    <div class="input-field col s12 m6">
                        <input id="phone_number" name="phone_number" pattern="^[0-9]{11,14}$" type="tel" minlength="11"
                            maxlength="14" data-length="14" class="validate" value="{{ employess.phone_number }}"
                            required>
                        <label for="phone_number">Phone Number*</label>
                        <span class="helper-text" data-error="Please enter your phone number" data-success="✔️">Please
                            enter
                            your phone number</span>
                    </div>
                </div>

                <div class="row">
                    <!-- Departament -->
                    <div class="input-field col s12 m6">
                        <input id="departament" name="departament" type="text" class="validate"
                            value="{{ employess.departament.title() }}" required>
                        <label for="departament">Departament*</label>
                        <span class="helper-text" data-error="Please enter your departament" data-success="✔️">Please
                            enter your departament</span>
                    </div>
                    <!--Clock Nr-->
                    <div class="input-field col s12 m6">
                        <input id="clock-in-number" name="clock-in-number" pattern="^[0-9]{11,14}$" type="text"
                            minlength="11" maxlength="14" data-length="14" class="validate"
                            value="{{employess.clock_nr}}" readonly required>
                        <label for="clock-in-number">Clock Number*</label>
                        <span class="helper-text"
                            data-error="To change clock number you have to delete this employee entry and recreate it!"
                            data-success="✔️">To change clock number you have to delete this employee entry and recreate
                            it!</span>
                    </div>
                </div>

                <div class="row">
                    <!-- Start Date -->
                    <div class="input-field col s12 m6">
                        <input id="start-date" name="start-date" type="date" class="validate"
                            value="{{ employess.start_date }}" required>
                        <label for="start-date">Start Date*</label>
                        <span class="helper-text" data-error="Please select start date" data-success="✔️">Please
                            select start date</span>
                    </div>
                    <!-- Start Time -->
                    <div class="input-field col s12 m6">
                        <input id="start-time" name="start-time" type="time" minlength="5" maxlength="20"
                            data-length="20" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"
                            value="{{ employess.start_time }}" required>
                        <label for="start-time">Start Time*</label>
                        <span class="helper-text" data-error="Please select start time 24H format"
                            data-success="✔️">Please
                            select start time 24H format</span>
                    </div>
                </div>

                <div class="row">
                    <!-- End Date -->
                    <div class="input-field col s12 m6">
                        <input id="end-date" name="end-date" type="date" value="{{ employess.end_date }}"
                            class="validate">
                        <label for="end-date">End Date</label>
                        <span class="helper-text" data-error="Please select end date" data-success="✔️">Please
                            select end date</span>
                    </div>
                    <!-- End Time -->
                    <div class="input-field col s12 m6">
                        <input id="end-time" name="end-time" type="time" value="{{ employess.end_time }}"
                            class="validate">
                        <label for="end-time">End Time</label>
                        <span class="helper-text" data-error="Please select start time 24H format"
                            data-success="✔️">Please
                            select end time 24H format</span>
                    </div>
                </div>

                <!-- register -->
                <div class="row">
                    <button id="register-employee" type="submit"
                        class="col s12 m6 btn-large light-blue darken-4 text-shadow">
                        Update Employee
                    </button>
                    <a class="col s12 m6 btn btn-large  red darken-4 text-shadow modal-trigger"
                        href="#delete-employee-modal">
                        Delete Employee
                    </a>
                </div>
            </div>
        </form>

        <div id="delete-employee-modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4 id="delete-employee-header" class="center-align">Delete an empoyee record!</h4>
                <h5 id="delete-employee-header" class="center-align red">This is irreversible</h5>
                <div class="row">
                    <form class="col s12 m8 offset-m2" method="POST"
                        action="{{ url_for('delete_employee', clock_number= employess.clock_nr) }}">
                        <div class="card-panel verify">
                            <!-- confirmations -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <p>
                                        <label>
                                            <input type="checkbox" required />
                                            <span>I understand that all the records of the employee will be
                                                deleted!</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input type="checkbox" required />
                                            <span>I understand that this is irreversible</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <!-- Clock Number -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="clock-number-v" name="clock-number-v" type="text" class="validate"
                                        required>
                                    <label for="clock-number-v">Employee clock in number</label>
                                </div>
                            </div>
                            <!-- Delete Employee -->
                            <div class="row">
                                <button id="verify-button" type="submit"
                                    class="col s12 btn-large red accent-3 darken-4 text-shadow font">
                                    Delete employee
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer row">
                <a href="#!"
                    class=" col s12 modal-close waves-effect waves-green btn-large centre-align green font">Cancel</a>
            </div>
        </div>
    </div>
</table>

    {%endblock%}