{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
        <h3 id="time"></h3>
    </div>
</div>


<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('register') }}">
        <div class="row">
            <div class="col s12 m6">
                <h3 id="clock_number_text">Clock Nr:</h3>
            </div>
            <div class="col s12 m6">
                <h3 id="clock_number" name="clock_number"></h3>
            </div>
        </div>
        <div class="row offset-s1">
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="1" value="1">1</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="2" value="2">2</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="3" value="3">3</a>
        </div>

        <div class="row offset-s1">
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="4" value="4">4</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="5" value="5">5</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="6" value="6">6</a>
        </div>

        <div class="row offset-s1">
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="7" value="7">7</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="8" value="8">8</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="9" value="9">9</a>
        </div>

        <div class="row offset-s1">
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="delete" value="Delete">Delete</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="0" value="0">0</a>
            <a class="click_nr waves-effect waves-light btn-large col s4" data-type="submit" value="submit" type="submit"
                name="click_nr action">Submit</a>
        </div>
    </form>
</div>




{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}