{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m7 offset-m2">
        <h3 id="time"></h3>
    </div>
</div>


<div class="row">
    <form id="clock-in-form" maxlength="4" data-length="4" pattern="^[0-9]{4,4}$" class="col s9 offset-s2 offset-m2"
        method="POST" action="{{ url_for('index') }}">

        <div class="col s12 m8 offset-m1">
            <input type="text" id="clock-number" name="clock-number" readonly>
            <label for="clock-number" class="visuallyhidden">Clock Number</label>
        </div>

        <div class="row">
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="1" value="1">1</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="2" value="2">2</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="3" value="3">3</a>
        </div>

        <div class="row">
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="4" value="4">4</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="5" value="5">5</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="6" value="6">6</a>
        </div>

        <div class="row">
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="7" value="7">7</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="8" value="8">8</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="9" value="9">9</a>
        </div>

        <div class="row">
            <a class="delete waves-effect waves-light btn-large col s3" href="{{ url_for('index') }}">Delete</a>
            <a class="click-nr waves-effect waves-light btn-large col s3" data-type="0" value="0">0</a>
            <button type="submit" class="submit waves-effect waves-light btn-large col s3">SUBMIT</button>
        </div>
    </form>
</div>




{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}